@font-face {
    font-family: 'PricedownBl-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/pricedown bl.woff'), url('../fonts/pricedown\ bl.woff') format('woff');
    }
* {
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: "Times New Roman", Times, serif; */
    font-family: "PricedownBl-Regular";
}
body {
    background: url(../images/pozadina.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(16, 0, 32);
    margin: 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.item1 {
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 35px;
    margin-top: 8.5px;
}
.item2 {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    text-align: left;
    display: block;
    position: fixed;
    margin-bottom: 120px;
    margin-left: 50px;
    bottom: 0;
}
#gmaeTitle{
    position: relative;
}
h1 {
    float: left;
    font-size: 8em;
    margin: 0 0;
    width: 100%;
    -webkit-text-stroke: 2.5px black;
}
#playDiv{
    display: none;
}
h2 {
    float: left;
    font-size: 3em;
    margin: 0 0;
    width: 100%;
    color: rgb(248, 182, 0);
    -webkit-text-stroke: 1px black;
}
h2:hover {
    cursor: pointer;
    -webkit-text-stroke: 0px black;
}
.item4 {
    display: none;
    transform: scaleX(0);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
}
.item5 {
    display: none;
    transform: scaleX(0);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
}
.item6 {
    display: none;
    transform: scaleX(0);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
}
.intro {
    display: none;
    transform: scaleX(0);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 25px;
}
.result {
    display: none;
    transform: scaleX(0);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 25px;
}
.result h2 {
    color: rgb(165, 165, 165);
}
.result h2:hover {
    color: rgb(165, 165, 165);
    cursor: auto;
    -webkit-text-stroke: 1px black;
}
#vsDiv {
    float: left;
    color: rgb(165, 165, 165);
}
.show {
    display: block;
    animation: slide-menu .5s forwards .2s ease-in-out;
}
@keyframes slide-menu {
    from {
        transform: translateY(15%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
.hidden {
    display: none;
    opacity: 0;
}
a {
    font-size: 35px;
    float: left;
}
a:hover{
    color: rgb(248, 182, 0);
}
.homeBtn{
    color:white;
    margin-right: 20px;
}
.propBtn{
    color:white;
    margin-right: 20px;
}
.fameBtn{
    color:white;
    margin-right: 20px;
}
.proposition{
    margin-top: 5%;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}
input[type=text], select {
    width: auto;
    height: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(21, 20, 131, 0.25);
    -webkit-text-stroke: 1px black;
    color: white;
    font-size: 50px;
    text-align: center;
}
#category {
    width: 50%;
    font-size: 1em;
}
#term {
    width: 58.8%;
    font-size: 1em;
}
#prop input[type=text], #prop select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#multiGameForm{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
}
#multiplayh2 {
    color: rgb(248, 182, 0);
    font-size: 90px;
    text-align: center;
}
#multiplayh2:hover{
    cursor: auto;
    -webkit-text-stroke: 1px black;
}
#multiGameForm input[type=text], #multiGameForm select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#ullist {
    color: white;
}
input[type=submit] {
    border: none;
    background-color: rgb(248, 182, 0);
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 1px black;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
}
#usernameColor {
    color: rgb(248, 182, 0);
}
#down {
    position: relative;
    cursor: pointer;
}
ul {
    list-style-type:none;
    font-size: 25px;
}
li {
    list-style-type:none;
    font-size: 25px;
}
.arrow {
    margin-left: 15px;
    margin-top: 6.5px;
    position: absolute;
}
#li1:hover {
    color: rgb(165, 165, 165);
    cursor: pointer;
}
#userOptions {
    display: none;
}
#fameh2:hover {
    color: rgb(248, 182, 0);
    cursor: auto;
    -webkit-text-stroke: 1px black;
}
#btnSend{
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}
#btnSend:hover{
    background-color: rgb(253, 198, 45);
}
#playH1{
    font-size: 2em;
    color: rgb(248, 182, 0);
}
#versus{
    font-size: 1.5em;
    text-align: center;
    color: rgb(165, 165, 165);
}
#noWin {
    color: rgb(248, 182, 0);
    font-size: 2em;
    text-align: center;
}
#winImg {
    width: 100px;
}
#userH3 {
    color: rgb(248, 182, 0);
}
#userResultUl {
    -webkit-text-stroke: 1px black;
}
#computerResultUl {
    -webkit-text-stroke: 1px black;
}
#firstPlayer, #secondPlayer {
    font-size: 1.5em;
}
#countdown {
    font-size: 5em;
    color: red;
    text-align: center;
    -webkit-text-stroke: 1.5px black;
}
#result{
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 0;
}
#result h2 {
    text-align: center;
    color: rgb(139, 41, 236);
    -webkit-text-stroke: 1.5px black;
}
#result h2:hover {
    cursor: auto;
    -webkit-text-stroke: 1.5px black;
}
#player0Result{
    width: 50%;
    float: left;
    color: white;
    text-align: center;
    font-size: 90px;
    -webkit-text-stroke: 1px black;
}
#player1Result{
    width: 50%;
    float: left;
    color: white;
    text-align: center;
    font-size: 90px;
    -webkit-text-stroke: 1px black;
}
#newGame{
    text-align: center;
}
#confirm{
    margin-top: 20px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: black;
    border-radius: 5.5px;
    background-color: rgb(248, 182, 0);
    color: white;
    font-size: 1.25em;
    -webkit-text-stroke: 1.5px black;
}
#confirm:hover{
    cursor: pointer;
    color: grey;
}
#newGameBtn{
    margin-top: 20px;
    margin-bottom: 25px;
    border-style: solid;
    border-color: black;
    border-radius: 7.5px;
    background-color: rgb(248, 182, 0);
    color: white;
    font-size: 3.5em;
    -webkit-text-stroke: 1.5px black;
}
#newGameBtn:hover{
    cursor: pointer;
    color: grey;
}
#newGameWithComp{
    margin-top: 5px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 7.5px;
    background-color: rgb(248, 182, 0);
    color: white;
    font-size: 2em;
    -webkit-text-stroke: 1.5px black;
}
#newGameWithComp:hover{
    cursor: pointer;
    color: grey;
}
#topListLi li{
    color: rgb(253, 198, 45);
    font-size: 1.5em;
}
#multiFirstLett{
    font-size: 3em;
    color: rgb(248, 182, 0);
    -webkit-text-stroke: 1.5px black;
}
#gameStarts{
    -webkit-text-stroke: 1.5px black;
    font-size: 1.5em;
}
#wait{
    -webkit-text-stroke: 1.5px black;
    font-size: 1.5em;
}
#user0Res{
    font-size: 1.5em;
}
#user1Res{
    font-size: 1.5em;
}
#medals{
    width: 2.5em;
    margin-right: 0.25em;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-size: 1.5em;
    -webkit-text-stroke: 1px black;
}
#footer a {
    color: white;
    text-align: center;
    font-size: 1em;
    -webkit-text-stroke: 1px black;
    margin: 0;
}
#ns {
    float: left;
}
#ns a{
    float: right;
}
#ns a:hover{
    color: rgb(248, 182, 0);
    cursor: pointer;
}
#itbtc a:hover{
    color: rgb(165, 165, 165);
    cursor: pointer;
}
#playerDisconnect {
    font-size: 2em;
    color: red;
    -webkit-text-stroke: 2px black;
}
#discNewGame {
    color: rgb(248, 182, 0);
    cursor: pointer;
    -webkit-text-stroke: 2px black;
}
#discNewGame:hover{
    -webkit-text-stroke: 1px black;
}
#backList {
    display: block;
}
@media only screen and (max-width: 600px) {
    * {
        -webkit-text-stroke: 1px black;
    }
    body {
      background-image: url(../images/mobile.jpg);
      background-repeat: no-repeat;
      background-color: rgb(16, 0, 32);
    }
    [class*="col-"] {
        width: 100%;
    }
    #down {
        position: relative;
        font-size: 25px;
    }
    #ul {
        font-size: 20px;
    }
    .item2 {
        background-color: rgba(0, 0, 0, 0.8);
        color: rgb(255, 255, 255);
        text-align: center;
        display: block;
        position: relative;
        margin: 0;
    }
    .hidden {
        display: none;
        opacity: 0;
    }
    h1 {
        font-size: 2.5em;
        float: none;
    }
    h2 {
        font-size: 2em;
        float: none;
    }
    #multiplayh2 {
        color: rgb(248, 182, 0);
        font-size: 2.5em;
        text-align: center;
    }
    #usernameInput {
        width: 100%;
    }
    #multiFirstLett {
        font-size: 1.5em;
    }
    a {
        content: "";
        clear: both;
        display: table;
        font-size: 25px;
    }

    li {
        font-size: 21px;
    }
    .homeBtn {
        font-size: 35px;
    }
    .propBtn {
        font-size: 35px;
    }
    #propImg {
        max-width: 100%;
        height: auto;
    }
    #fameh2 {
        font-size: 35px;
    }
    .fix{
        position: fixed;
    }
    #time{
        font-size: 0.25em;
    }
    #vsText{
        display: none;
    }
    #ns {
        width: 50%;
        float: left;
        font-size: 0.8em;
    }
    #itbtc {
        width: 50%;
        float: left;
        font-size: 0.8em;
    }
    #newGameBtn {
        font-size: 3em;
    }
    #noWin {
        text-align: center;
        font-size: 2em;
    }
    #playerDisconnect {
        font-size: 1.5em;
    }
    #footer {
        display: none;
    }
}